{% extends 'base.html' %}

{% block title %}Serviços - Monsanto DevWorks{% endblock %}

{% block content %}
<section class="services">
    <h1>Nossos Serviços</h1>
    <div class="services-container">
        <div class="service-box">
            <i class="fas fa-laptop-code"></i>
            <h3>Desenvolvimento de Sites e Aplicativos</h3>
            <p>Criamos sites e aplicativos modernos e funcionais para destacar o seu negócio. Automatize suas vendas com plataformas seguras e práticas.</p>
        </div>
        <div class="service-box">
            <i class="fas fa-cogs"></i>
            <h3>Automatização de Processos</h3>
            <p>Otimize processos manuais e aumente a eficiência do seu negócio.</p>
        </div>
        <div class="service-box">
            <i class="fas fa-vial"></i>
            <h3>Testes de Software e Segurança</h3>
            <p>Garantimos a qualidade e segurança dos seus sistemas com auditorias, testes e análises avançadas.</p>
        </div>
        <div class="service-box">
            <i class="fas fa-network-wired"></i>
            <h3>Consultoria em Telecomunicação e Tecnologia</h3>
            <p>Melhore sua infraestrutura de comunicação e receba suporte completo para demandas tecnológicas.</p>
        </div>
    </div>
</section>


{% endblock %}
